* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
thead:nth-child(1){
  border-bottom: 1px solid rgba(31, 30, 30, 0.783);
}
table{
  width: 100% !important;
}
td{
  margin: 10px;
  padding: 10px;
}
tbody>tr:hover{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.653);
  border-radius: 10px;

}
